/*-------------------------------------
--------------BASE---------------------
-------------------------------------*/
@import 'base/reset';

/*-------------------------------------
--------------PAGES--------------------
-------------------------------------*/
@import 'pages/index';
@import 'pages/serviceochreperation';
@import 'pages/nyhetsblogg';
@import 'pages/kontakt';
@import 'pages/butik';

/*-------------------------------------
--------------COMPONENTS---------------
-------------------------------------*/
@import 'components/logo';
@import 'components/navigation';
@import 'components/hero';

/*-------------------------------------
--------------LAYOUT-------------------
-------------------------------------*/
@import 'layout/header';
@import 'layout/footer';

/*-------------------------------------
--------------GENERAL------------------
-------------------------------------*/

body{
    color: #fff; 

}

h1{
    font-family: 'Helvetica', sans-serif;
    font-size: 7vh;
    line-height: 0.9;
}
h2{
    font-family: 'Helvetica', sans-serif;
    font-size: 3.5vh;
    line-height: 0.9;
}
h3{
    font-family: 'Helvetica', sans-serif;
    font-size: 3vh;
    line-height: 0.9;
}
h4{
    font-family: 'Helvetica', sans-serif;
    font-size: 2.5vh;
    line-height: 0.9;
}
p{
    font-size: 2.3vh;
    line-height: 1.5;
}
a, p{
    font-family: 'Work Sans', sans-serif;
}


 
main{
    
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;

    background: linear-gradient(to bottom, #000129 0%, #003399 100%);
 
}
.intro{
    padding: 30px 40px 20px 40px;
}



 