/*-------------------------------------
--------------BASE---------------------
-------------------------------------*/
@import 'base/reset';



/*-------------------------------------
--------------PAGES--------------------
-------------------------------------*/
@import 'pages/serviceochreperation';
@import 'pages/nyhetsblogg';
@import 'pages/kontakt';



/*-------------------------------------
--------------COMPONENTS---------------
-------------------------------------*/
@import 'components/logo';
@import 'components/navigation';
@import 'components/hero';

/*-------------------------------------
--------------LAYOUT-------------------
-------------------------------------*/
@import 'layout/header';
@import 'layout/footer';

/*-------------------------------------
--------------GENERAL------------------
-------------------------------------*/

body{

   /* display: flex;
    height: 100%;
    flex-direction: column;
    color: #fff;*/
}
html {
   /* font-family: 'Work Sans', sans-serif;*/
   font-family: 'Roboto', sans-serif;

}


main{
    /*background: linear-gradient(to bottom, #000129 0%, #3366cc 100%);*/
    background: linear-gradient(to bottom, #000129 0%, #003399 100%);
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
section{
    padding: 20px 40px 40px 40px; 
}



 