/*
Classes with different background images. Every class represents an individual image
for the hero section. 
*/
.index{
    background: url("/assets/images/Bild16Combillogo.jpg") center center no-repeat;
}
.contact{
    background: url("/assets/images/Bild\ 261.jpg") center center no-repeat;
}
.shop{
    background: url("/assets/images/Bild\ 15.jpg") center center no-repeat;
}
.service{
    background: url("/assets/images/Bild\ 23.png") center center no-repeat;
}
.wheelservice{
    background: url("/assets/images/Bild\ 27.jpg") center center no-repeat;
}
.carglas{
    background: url("/assets/images/Bild\ 33.jpg") center center no-repeat;
}
.newsblog{
    background: url("/assets/images/Bild08Noplatebc.jpg") center center no-repeat;
}

.hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh; 
    background-size: cover;
    .hero-overlay{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        border: 1px solid #0559a2; 
        border-radius: 5px;
        padding: 40px 120px;
        background-color: rgba(0,0,0,0.40);
        .hero-title{
            font-family: 'Helvetica', sans-serif;
            font-size: 5vh;
            line-height: 0.9;
            text-align: center;
        }
    }
}
@media only screen and (max-width:800px){
    .hero{
        height: 80vmin;
        .hero-overlay{

            .hero-title{
                font-size: 3vh;
            
            }
        
        }

    }




}
