.toggle{
    display: none;
    padding: 15px;
}
.logo{
    margin-left: 20px;
}
.main-nav{
    display: flex;
    a{
        text-decoration: none; 
        color: #fff;
        margin-right: 5vh;
    }
    
    a:hover,
    a:active{
        color: rgb(44, 78, 189);
    }
}

@media screen and (max-width:950px){
    .main-nav{
        width: 100%;
        position: absolute;
        top: 98;
        flex-direction: column;
        text-align: center;
        background-color: rgba(0, 0.4, 16.1, 0.8);
        a{
            
            padding: 20px;
        }
    }
    .logo{
        align-self: center;
    }
    .toggle{
        display: block;
    }
    header{
        justify-content: center;
    }

}