.main-nav{
    padding: 16px;
    display: flex;
    justify-content: space-between;
}
.main-nav a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #fff;
    padding-right: 40px; 
}
.main-nav a:hover{
    color: rgb(44, 78, 189);
    /*border-bottom: rgb(35, 98, 193) solid 1px;  */
}
.fa-bars{
    color: #fff;
    display: none;
}
.hamburger{
    display: none;
}
.active {
    color:lightblue;
}