/*-------------------------------------
--------------BASE---------------------
-------------------------------------*/
body, html {
  margin: 0;
  padding: 0;
}
body h1, body h2, body h3, body h4, body p, html h1, html h2, html h3, html h4, html p {
  margin: 0;
}
body ul, html ul {
  margin: 0;
  padding: 0;
}
body ul li, html ul li {
  margin: 0px;
}

/*-------------------------------------
--------------PAGES--------------------
-------------------------------------*/
#feature-service {
  display: flex;
  flex-direction: column;
  margin: 10px 0 20px 0;
}
#feature-service img {
  width: 200px;
  height: 200px;
}
#feature-service .feature-row {
  align-items: center;
  display: flex;
  margin-bottom: 35px;
}
#feature-service .feature-row .feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #033d83;
  height: 100px;
  width: 120px;
  border-radius: 10px;
  margin-right: 10px;
}
#feature-service .feature-row .feature-text {
  width: 90%;
}
#feature-service .feature-row .feature-text .feature-text h2 {
  margin: 0;
}

#newsblog {
  padding: 40px;
}
#newsblog .post {
  display: flex;
  margin-bottom: 30px;
  justify-content: space-around;
  flex-wrap: wrap;
  border-bottom: solid 1px #fff;
  padding-bottom: 40px;
}
#newsblog .post .post-text {
  width: 550px;
}
#newsblog .post .post-text h3 {
  margin: 0 5px 10px 0;
}
#newsblog .post .post-img {
  margin-top: 5px;
  width: 550px;
  height: 200px;
}
#newsblog .post .post-img img {
  width: 100%;
  height: 100%;
}
#newsblog .post:last-child {
  border: none;
}

#contact-service {
  display: flex;
  flex-direction: column;
  background-color: #002552;
  color: #fff;
  border-radius: 25px;
  margin-bottom: 20px;
  padding: 0 10px;
}
#contact-service .form-row {
  display: flex;
  flex-direction: column;
  text-align: center;
}
#contact-service input {
  font-size: 16px;
  width: 200px;
  height: 30px;
  margin: 5px 0 0 0;
}
#contact-service .contact-info {
  margin-bottom: 5px;
}
#contact-service .form-group {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  flex: 1 1 auto;
  padding: 10px;
}
#contact-service .form-group textarea {
  flex: 1 1 auto;
  height: 100px;
  resize: none;
}
#contact-service .form-group select {
  flex: 1 1 auto;
}
#contact-service .form-group .btn {
  display: flex;
}

#contact {
  padding: 20px 40px 40px 40px;
}
#contact h2 {
  margin: 0 0 5px 0;
}
#contact h4 {
  margin-bottom: 10px;
}
#contact p {
  font-size: 14px;
  line-height: 1.5;
}
#contact .contact-info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
#contact .contact-intro {
  width: 100%;
  margin-bottom: 20px;
}
#contact .contact-info-row {
  padding: 10px;
  width: 250px;
  color: #fff;
}

.karta {
  margin: 25px 0 10px 0;
  width: 100%;
}

.karta img {
  height: 300px;
  width: 100%;
}

main .intro h2 {
  margin-bottom: 20px;
}

/*-------------------------------------
--------------COMPONENTS---------------
-------------------------------------*/
.logo {
  width: 200px;
  height: 50px;
}
.logo img {
  min-width: 100%;
  max-height: 100%;
}

.main-nav {
  padding: 16px 0;
  display: flex;
  justify-content: space-between;
}

.main-nav a {
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  padding-right: 40px;
}

.main-nav a:hover {
  color: #2c4ebd;
  /*border-bottom: rgb(35, 98, 193) solid 1px;  */
}

.fa-bars {
  color: #fff;
  display: none;
}

.hamburger {
  display: none;
}

.active {
  color: lightblue;
}

.index {
  background: url("/images/Bild16Combillogo.jpg") center center no-repeat;
}

.contact {
  background: url("/images/Bild 261.jpg") center center no-repeat;
}

.shop {
  background: url("/images/Bild 15.jpg") center center no-repeat;
}

.service {
  background: url("/images/Bild 23.png") center center no-repeat;
}

.wheelservice {
  background: url("/images/Bild 27.jpg") center center no-repeat;
}

.carglas {
  background: url("/images/Bild 33.jpg") center center no-repeat;
}

.newsblog {
  background: url("/images/Bild08Noplatebc.jpg") center center no-repeat;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 65vh;
  background-size: cover;
}
.hero .overlay {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 32em;
  height: 30vh;
  border: 1px solid #0559a2;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
}
.hero .hero-title {
  color: #fff;
  max-width: 20em;
  font-size: 6vh;
  line-height: 0.9;
}
.hero .hero-text {
  color: #fff;
  font-size: 2vh;
  line-height: 1.5;
}

@media only screen and (min-width: 32em) {
  .hero-title {
    font-size: 16vh;
  }
}
/*-------------------------------------
--------------LAYOUT-------------------
-------------------------------------*/
header {
  /*background-color: #000000;*/
  background: linear-gradient(to bottom, #000000 0%, #000129 100%);
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: "Work Sans", sans-serif;
}
header .logo {
  padding-left: 20px;
}

@media screen and (max-width: 1000px) {
  header .logo {
    padding: 0;
  }
}
@media screen and (max-width: 980px) {
  header a {
    order: 3;
  }
  header .main-nav {
    margin-top: 200px;
    display: none;
    order: 2;
    background-color: #000129;
    padding: 0px;
  }
  header .main-nav a {
    padding: 14px 16px;
    border-bottom: solid 1px #0059a7;
  }
  header .main-nav a:last-child {
    border: none;
  }
  header .hamburger {
    order: 1;
    display: flex;
    padding-left: 20px;
  }
}
footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: #000129;
  color: #fff;
}
footer .footer-container {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px 0 20px;
  margin-bottom: 40px;
}
footer .footer-container div {
  width: 200px;
  border-left: 1px #0059a7 solid;
  padding-left: 20px;
}
footer .footer-container div a {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-bottom: 10px;
}
footer .footer-container div a:hover {
  color: #4668bf;
}
footer .footer-container div h4 {
  font-size: 14px;
  margin-bottom: 30px;
}
footer .footer-container div p {
  margin-bottom: 10px;
  font-size: 14px;
}
footer .footer-container div i {
  margin-right: 10px;
}
footer .footer-container .footer-links {
  display: flex;
  flex-direction: column;
}
footer .footer-container div:first-child {
  border: none;
  padding: 0;
}
footer .copyright {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background-color: #00033a;
}
footer .copyright p {
  font-size: 10px;
}

@media screen and (max-width: 903px) {
  footer .footer-container {
    padding: 20px 0 0 0;
  }
}
@media screen and (max-width: 720px) {
  footer .footer-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }
  footer .footer-container .footer-links {
    width: 80%;
  }
  footer .footer-container .footer-social {
    text-align: center;
  }
  footer .footer-container .footer-contact {
    width: 60%;
  }
  footer .footer-container .footer-contact i {
    margin-right: 25px;
  }
  footer .footer-container div {
    padding-bottom: 10px;
    margin-bottom: 10px;
    align-items: center;
    padding-left: 0;
    border-bottom: 1px solid #0059a7;
    border-left: none;
  }
  footer .footer-container div h4 {
    text-align: center;
    margin-bottom: 10px;
  }
  footer .footer-container div:first-child {
    margin-bottom: 10px;
  }
  footer .footer-container div:last-child {
    border-bottom: none;
  }
}
/*-------------------------------------
--------------GENERAL------------------
-------------------------------------*/
body {
  color: #fff;
  /* display: flex;
   height: 100%;
   flex-direction: column;
   */
}

html {
  /* font-family: 'Work Sans', sans-serif;*/
  font-family: "Roboto", sans-serif;
}

main {
  /*background: linear-gradient(to bottom, #000129 0%, #3366cc 100%);*/
  background: linear-gradient(to bottom, #000129 0%, #003399 100%);
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

section {
  padding: 60px 40px 20px 40px;
}

/*# sourceMappingURL=general.css.map */
