/*-----------------------------------------------------------------------------
-----------------GLOBAL--------------------------------------------------------
-----------------------------------------------------------------------------*/
body{
    margin: 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    color: #fff;
}
html {
   /* font-family: 'Work Sans', sans-serif;*/
   font-family: 'Roboto', sans-serif;

}
h1{
    margin: 0;
}
    /*---------------------------------------------------------------
    -------------HERO------------------------------------------------
    ---------------------------------------------------------------*/
    .hero{
        position: relative;
        height: 550px;
        width: 100%;
    }
    .hero img{
        height: 100%;
        width: 100%;
    }
    .hero-text{
        position: absolute;
        top: 40%;
        left: 50%;
        color: #fff;
        background-color: rgba(0,0,0,0.40);
        border: 2px solid rgb(56, 56, 165);
        padding: 55px;
        height: 150px;
        width: 60%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .hero-text h1{
        margin-bottom: 15px;
    }



/*------------------------------------------------------------------------------
------------------HEADER--------------------------------------------------------
------------------------------------------------------------------------------*/
header{
    flex: none;
    /*background-color: #000000;*/
    background: linear-gradient(to bottom, #000000 0%, #000129 100%);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
     font-family: 'Work Sans', sans-serif;
}
    /*---------------------------------------------------------------------
    ------------LOGO-------------------------------------------------------
    ---------------------------------------------------------------------*/
    .logo{
        width:  200px;
        height: 50px;
        margin-left: 20px; 
    }

    .logo img{
        display: block;
        min-width: 100%;
        max-height: 100%; 
    }
    /*---------------------------------
    ------------MAIN-NAVIGATION--------
    ----------------------------------*/
    .main-nav{
        padding: 16px;
        display: flex;
        justify-content: space-between;
    }
    .main-nav a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        padding-right: 40px; 
    }
    .main-nav a:hover{
        color: rgb(44, 78, 189);
        /*border-bottom: rgb(35, 98, 193) solid 1px;  */
    }
    .fa-bars{
        color: #fff;
        display: none;
    }
    .hamburger{
        display: none;
    }
    .active {
        color:lightblue;
    }
    @media only screen and (max-width: 768px) {
        .main-nav{
          flex-direction: column;
        }
        .main-nav a {
            padding: 10px 16px;
        }
        .hero-text{
            top: 35%;
        }
        .hero-text{
            padding: 0;
            height: 40px;
        }
        .hamburger{
            align-self: flex-end;
            display: initial;
            position: absolute;
        }
    .footer-row{
        /*flex-direction: column;*/
        align-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
    #footer-logo{
        margin: 0 0 20px 0;
        align-self: center;
        
    }

    }

/*-----------------------------------------------------------------------------
-------------HOME PAGE---------------------------------------------------------
------------------------------------------------------------------------------*/

main{
    /*background: linear-gradient(to bottom, #000129 0%, #3366cc 100%);*/
    background: linear-gradient(to bottom, #000129 0%, #003399 100%);
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}
p{
    margin: 0;
}


/*-----------------------------------------------------------------------------
-------------SERVICE & REPERATION----------------------------------------------
------------------------------------------------------------------------------*/

    /*----------------------------------------------------------
    -------------FEATURE----------------------------------------
    ------------------------------------------------------------*/
    #feature-service{
        display: flex;
        flex-direction: column;
        margin: 10px 0 20px 0;
    }

    .feature-row{
        align-items: center;
        display: flex;
        margin-bottom: 35px; 
    }
    .feature-text{
    width: 90%;
    }
    #feature-service img {
        width: 200px;
        height: 200px;
    }
    .feature-text h2{
        margin: 0;
    }
    .feature-icon{
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        background-color: rgb(3, 61, 131);
        height: 100px;
        width: 120px;
        border-radius: 10px;
        margin-right: 10px;
    }   
    /*---------------------------------------------------------
    ----------CONTACT FORM-------------------------------------
    ---------------------------------------------------------*/
    #contact-service{
        display: flex;
        flex-direction: column;
        background-color:rgb(0, 37, 82);
        color: #fff;
        border-radius: 25px;
        margin-bottom: 20px; 
        padding: 0 10px;
    }
    #contact-service input{
        font-size: 16px;
        width: 200px;
        height: 30px;
        margin: 5px 0 0 0;
    }
    #contact-service .contact-info{
        margin-bottom: 5px;
    }
    #contact-service .form-row{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #contact-service .form-group{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        flex: 1 1 auto;
        padding: 10px;
    }   
    #contact-service .form-group textarea{
    flex: 1 1 auto;
    height: 100px;
    resize: none;
}
.form-group select{
    flex: 1 1 auto;
}
.form-group .btn{
    display: flex;
}


hr{
    color: #fff;
    width: 100%;
}


/*------------------------------------------------------------------------------------
-----------------FOOTER---------------------------------------------------------------
------------------------------------------------------------------------------------*/
footer{
    flex: none;
    height: auto;
    width: 100%;
    background-color:#000129;
    color: #fff;
}
footer h3{
    margin: 0 0 25px 0;
}
#footer-container{
    padding: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; 
}
footer a{
    color: #fff;
    text-decoration: none;
}
.footer-row{
   /* display: flex;
    justify-content: space-between;
    align-items: center;
   
    flex: 1 1 auto;*/
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

    /*---------------------------------------------------------
    --------FOOTER LOGO----------------------------------------
    ---------------------------------------------------------*/
    #footer-logo{
        width:  230px;
        height: 50px;
        display: flex;
        /*flex: 0;*/
    }
    #footer-logo img{
        display: block;
        min-width: 100%;
        max-height: 100%;  
    }
    /*---------------------------------------------------
    --------FOOTER NEWSLETTER----------------------------
    ---------------------------------------------------*/
    #footer-newsletter{
        /*flex: 1;*/
    }
    #footer-newsletter,
    #footer-newsletter form
    {
        display: flex;
        flex-direction: column;
    }
    #footer-newsletter input[type="email"],
    #footer-newsletter input[type="submit"]{
        font-size: 12px;
        border-radius: 20px;
        padding: 10px;
    }
    #footer-newsletter input[type="email"]{
        width: 200px;
        margin-bottom: 10px;
        border: 1px solid #fff;
        background-color:#000129;
        color: #fff;
    }
    #footer-newsletter input[type="email"]::placeholder{
        color: #fff;
    }
    #footer-newsletter input[type="submit"]{
        width: 100px;
        
    }
    /*---------------------------------------------------
    --------FOOTER CONTACT-------------------------------
    ---------------------------------------------------*/
    #footer-contact{
        /*flex: 1;*/
    }
    #footer-contact p{
        margin: 0 0 5px 0;
    }

    /*---------------------------------------------------
    --------FOOTER LINKS---------------------------------
    ---------------------------------------------------*/
    #footer-links a,
    #footer-social .fab{
        margin-right: 10px; 
    }
    #footer-links a:last-child,
    #footer-social .fab:last-child{
        margin-right: 0px; 
    }
    #footer-social{
        display: flex;
        flex-wrap: wrap;

    }
    #footer-links a{
        color: #fff;
        text-decoration: none;
    }


    /*---------------------------------------------------
    --------FOOTER COPYRIGHT-----------------------------
    ---------------------------------------------------*/
    #footer-copyright{
        text-align: center;
        font-size: 10px;
        padding: 15px;
    }


/*------------------------------------------------------------------------------------
-----------------Contact Page---------------------------------------------------------
------------------------------------------------------------------------------------*/
    #contact{
        padding: 40px;
    }
    #contact h2{
        margin: 0 0 5px 0;
    }
    #contact h4{
        margin: 20px 0 10px 0;
    }
    #contact p {
        margin-top: 2px;
    }

    #contact .contact-info{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .contact-intro{
        width: 100%;
        margin-bottom: 20px;
    }
    .contact-info-row{
        padding: 10px;
        margin-top: 10px;
        width: 250px;
        
        color: #fff;
    }
    .contact-info-row h4{
        
        
    }
    .karta{
        margin: 25px 0 10px 0;
        width: 100%;
    }
    .karta img{
        height: 300px;
        width: 100%;
    }

/*------------------------------------------------------------------------------------
-----------------News Blogg Page------------------------------------------------------
------------------------------------------------------------------------------------*/
#newsblog{
    padding: 40px;
}
#newsblog .post{
    display: flex;
    margin-bottom: 40px;
}
#newsblog .post .post-img{
    width: 400px;
    height: 200px;
}
#newsblog .post .post-img img{
    width: 400px;
    height: 200px;
}