/*-----------------------------------------------------------------------------
-----------------GLOBAL--------------------------------------------------------
-----------------------------------------------------------------------------*/
body{
    margin: 0 0 245px;
}
html {
    font-family: 'Work Sans', sans-serif;
    position: relative;
    min-height: 100%;
}
h1{
    margin: 0;
}
.hero{
    height: 550px;
    width: 100%;
}
.hero img{
    height: 100%;
    width: 100%;
}
.hero-text{
    position: absolute;
    top: 40%;
    left: 50%;
    color: #fff;
    background-color: rgba(0,0,0,0.40);
    border: 2px solid rgb(56, 56, 165);
    padding: 55px;
    height: 200px;
    width: 60%;
    text-align: center;
    transform: translate(-50%, -50%);
}



/*------------------------------------------------------------------------------
------------------HEADER--------------------------------------------------------
------------------------------------------------------------------------------*/
header{
    background-color: #000000;
    height: 95px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo{
    width:  200px;
    height: 50px;
    margin-left: 20px; 
}

.logo img{
    display: block;
    min-width: 100%;
    max-height: 100%; 
}
    /*---------------------------------
    ------------MAIN-NAVIGATION--------
    ----------------------------------*/
    .main-nav{
        padding: 16px;
        display: flex;
        justify-content: space-between;
    }
    .main-nav a {
        display: flex;
        justify-content: center;
        text-decoration: none;
        color: #fff;
        padding-right: 40px; 
    }
    .main-nav a:hover{
        color: rgb(44, 78, 189);
        /*border-bottom: rgb(35, 98, 193) solid 1px;  */
    }
    .fa-bars{
        color: #fff;
        display: none;
    }
    .hamburger{
        display: none;
    }
    .active {
        color:lightblue;
    }
    @media only screen and (max-width: 768px) {
        .main-nav{
          flex-direction: column;
        }
        .main-nav a {
            padding: 10px 16px;
        }
        .hero-text{
            top: 35%;
        }
        .hero-text{
            padding: 0;
            height: 40px;
        }
        .hamburger{
            align-self: flex-end;
            display: initial;
            position: absolute;
        }
    }

/*-----------------------------------------------------------------------------
-------------HOME PAGE---------------------------------------------------------
------------------------------------------------------------------------------*/





/*-----------------------------------------------------------------------------
-------------SERVICE & REPERATION----------------------------------------------
------------------------------------------------------------------------------*/

.rep-section{
    display: flex;
    flex-direction: column;
    
}
.rep-row{
    border-top: solid #000000 5px;
    color: #fff;
    background-color: #0b2b40;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}
.rep-text{
 width: 90%;
 padding: 5px;
}
.rep-text h2{
    margin: 0;
}
.maintenance-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: rgb(3, 61, 131);
    height: 120px;
    width: 80px;
}

#contact-service{
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:rgb(0, 37, 82);
    color: #fff;
}
#contact-service input{
    font-size: 16px;
    width: 100%;
    height: 30px;
}
#contact-service .contact-info{
    margin-bottom: 30px;
}
#contact-service .contact-row{
    
    display: flex;
    flex-direction: column;
    text-align: center;
}
.form-group{
    display: flex;
    flex-direction: row;

}
.form-group textarea{
    flex: 1 1 auto;

    resize: none;
}
.form-group select{
    flex: 1 1 auto;
}





/*------------------------------------------------------------------------------------
-----------------FOOTER---------------------------------------------------------------
------------------------------------------------------------------------------------*/
footer{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 245px;
    padding: 0 0 0 0;
    background-color:#000000;
    color: #fff;
    width: 100%;
}
.footer-copyright{
    text-align: center;
    font-size: 10px;
    padding: 15px;
}