footer{ 
    flex: none;
    height: auto;
    width: 100%;
    background-color:#000129;
    color: #fff;  
    .footer-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 40px 20px 0 20px;
        div{
            width: 200px;
            border-left: 1px #0059a7 solid;
            padding-left: 20px;
            a{
                color: #fff;
                text-decoration: none;
                font-size: 14px; 
                margin-bottom: 10px; 
            }
            a:hover{
                color: #4668bf;
            }
            h4{
                font-size: 14px; 
                margin-bottom: 30px;
            }
            p{
                margin-bottom: 10px; 
                font-size: 14px;  
            }
            i{
                margin-right: 10px;
            }
        }
        .footer-links {
            display: flex;
            flex-direction: column;
        }
        .copyright{
            display: flex;
            align-content: center;
            justify-content: center;
            width: 100%;
            padding: 20px;
            margin-top: 40px;
            background-color: #00033a;
            p{
                font-size: 10px;
                margin: 0;
            }
        }
        div:first-child{
            border: none;
            padding: 0;
        } 
        div:last-child{
            border-left: none;
        }

        
    }
}