footer{ 
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color:#000129; 
    color: #fff;  

    .footer-container{
        display: flex;
        justify-content: space-between;
        padding: 40px 20px 0 20px;
        margin-bottom: 40px;
        div{
            width: 200px;
            border-left: 1px #0059a7 solid;
            padding-left: 20px;
            a{
                color: #fff; 
                text-decoration: none;
                font-size: 14px; 
                margin-bottom: 10px; 
            }
            a:hover{
                color: #4668bf;
            }
            h4{
                font-size: 14px; 
                margin-bottom: 30px;
            }
            p{
                margin-bottom: 10px; 
                font-size: 14px;  
            }
            i{
                margin-right: 10px;
            }
        }
        .footer-links {
            display: flex;
            flex-direction: column;
        }
    
        div:first-child{
            border: none;
            padding: 0;
        } 
    }
    .copyright{
        display: flex;
        justify-content: center;
        padding: 20px 0;
        background-color: #00033a;
        p{
            font-size: 10px;
        }
    }
}

@media screen and (max-width:903px){
    footer{
        .footer-container{
            padding: 20px 0 0 0; 
        }
    }
}
@media screen and (max-width:720px){
    footer{
        .footer-container{
            flex-direction: column;
             align-items: center;
             margin-bottom: 10px;
             .footer-social{
                text-align: center;
             }
             .footer-contact {
                i {
                    margin-right: 25px;
                }
             }
             div{
                 padding-bottom: 10px;
                 margin-bottom: 10px;
                 align-items: center;
                 padding-left: 0;
                 border-bottom: 1px solid #0059a7;
                 border-left: none;
                 h4{
                  text-align: center;
                  margin-bottom: 10px;
                 }

             }
             div:first-child{
                 margin-bottom: 10px;
             }
             div:last-child{
                 border-bottom: none;
             }
         }
    }
}

