header{
    flex: none;
    /*background-color: #000000;*/
    background: linear-gradient(to bottom, #000000 0%, #000129 100%);
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: 'Work Sans', sans-serif;
}