.hero{
    position: relative;
    height: 550px;
    width: 100%;
    img{
        height: 100%;
        width: 100%;
    }
    .hero-text{
        position: absolute;
        top: 40%;
        left: 50%;
        color: #fff;
        background-color: rgba(0,0,0,0.40);
        border: 2px solid rgb(56, 56, 165);
        padding: 55px;
        height: 150px;
        width: 60%;
        text-align: center;
        transform: translate(-50%, -50%);
        h1{
            margin-bottom: 15px;
        }
    }
}


